03.JavaFundamentals\MainTask\.idea
03.JavaFundamentals\MainTask\target
03.JavaFundamentals\OptionalTask1\.idea
03.JavaFundamentals\OptionalTask1\target
03.JavaFundamentals\OptionalTask2\.idea
03.JavaFundamentals\OptionalTask2\target